include CHANGES CREDITS LICENSE PKG-INFO README.md setup.py setup.cfg
include MANIFEST.in
graft src
recursive-include icu *.py
recursive-include samples *.py
recursive-include test *.py *.ttf noms.txt
